.item-container { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-container {
    box-shadow: 4px 4px 8px #000, -4px -4px 8px #000;
    
    display: flex;
}

.poster-container {
    width: 400px;
    height: 600px;
}

.details-container {
    width: 650px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
}

.details-container > p {
    margin: 10px 0;
}


.column-title {
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: goldenrod;
}

#watchedButton {
    border: 2px solid goldenrod;
    background-color: transparent;
    outline: none;
    color: goldenrod;
    padding: 10px 20px;
}

#watchedButton:hover {
    cursor: pointer;
    background-color: goldenrod;
    color: #000;
}