.register-container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fields {
    width: 500px;
    height: auto;
    padding: 40px 40px;
    border: 3px solid rgb(209, 174, 104);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.form-control-field {
    width: 400px;
    height: 60px;
    border: 2px solid rgb(209, 174, 104);
    border-radius: 5px;
    position: relative;
}

.form-control-field-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 10px;
    font-size: 1rem;
}

.form-control-field-label {
    position: absolute;
    top: -13px;
    left: 10px;
    background-color: rgb(209, 174, 104);
    border-radius: 5px;
    color: black;
    padding: 0 7px;
    text-transform: uppercase;
}

.form-control-field.btn {
    width: 200px;
    height: 45px;
    transition: 0.2s;
}

.form-control-field.btn:hover {
    background-color: rgb(209, 174, 104);

    .form-control-field-input.btn {
        cursor: pointer;
        color: #000;
    }
}

.form-control-field-error {
    position: absolute;
    bottom: -30px;
    left: 0;
    color: red;
}

.request-error {
    color: red;
}